
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
                <fieldset>
                    <br><br>
                    <h1>조건에 맞는 노트북이 없습니다.</h1>
                    <h3>뒤로가기를 눌러주세요.</h3>
                    <br>
                 <a href="javascript:history.back()" class="btn btn-outline btn-xl js-scroll-trigger">뒤로가기</a>
                </fieldset>
                
        </div>
     
           
           
     
         
    </div>
   
</header>


