
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <form action="/home/storage" method="get">
                <br><br>
                <h1>Home#develop</h1>
                <fieldset>
                    <h3>어떤 개발해?</h3>
                        <input type="radio" name="develop" value="Ordinary">일반
                        <input type="radio" name="develop" value="MachineLearning">머신러닝
                        <input type="hidden" name="program" value="<%= @program %>"></input>
                    <button type="submit">다음</button>
                </fieldset>
            </form>
        </div>
    </div>
</header>