
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <form action="/home/storage" method="get">
                <!--<h1>Home#develop</h1>-->
                <!--<fieldset>-->
                <!--    <h3>어떤 개발해?</h3>-->
                <!--        <input type="radio" name="develop" value="Ordinary">일반-->
                <!--        <input type="radio" name="develop" value="MachineLearning">머신러닝-->
                <!--    <button type="submit">다음</button>-->
                <!--</fieldset>-->
                <div class="col-lg-12 question">
                    <h2>어떤 개발해?</h2>    
                </div>
                
                <div class="row">
                    <div class="col-lg-6 col-sm-6 text-center mb-4">
                      <button type="radio" class="btn btn-link" name="develop" value="Ordinary"><img class="icon" src="/img/icons/develop_ordinary.png" height=200px ></button>
                      <br><h3>일반개발</h3>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center mb-4">
                      <button type="radio" class="btn btn-link" name="develop" value="MachineLearning"><img class="icon" src="/img/icons/develop_machinelearning.png" height=200px ></button>
                      <br><h3>머신러닝</h3>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>