<!DOCTYPE html>
<html lang="en">

  <head>

  </head>

  <body id="page-top">
    <header class="masthead">
      <div class="container">
        <div class="row index">
          
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">괜찮아, <br>누나가 <br>골라줄게</h1>
              <a href="/home/program" class="btn btn-outline btn-xl js-scroll-trigger">시작하기</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <img src="/img/comgongnoona logo NoneBG.png" class="img-fluid" alt="logo">
            </div>
          </div>
          
        </div>
      </div>
    </header>

  </body>

</html>
