<!DOCTYPE html>
<html lang="en">

  <head>

  </head>

  <body id="page-top">

<<<<<<< HEAD
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">컴공누나</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
=======
>>>>>>> 5f7f81eae33195d4778ef07e1495939c86a7cfba

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
<<<<<<< HEAD
              <h1 class="mb-5">노트북?
              <br>누나가 추천해줄게!</h1>
              <a href="/home/program" class="btn btn-outline btn-xl js-scroll-trigger">시작하기!</a>
=======
              <h1 class="mb-5">괜찮아, <br>누나가 <br>골라줄게</h1>
              <a href="/home/program" class="btn btn-outline btn-xl js-scroll-trigger">시작하기</a>
>>>>>>> 5f7f81eae33195d4778ef07e1495939c86a7cfba
            </div>
          </div>
          
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <img src="/img/comgongnoona logo NoneBG.png" class="img-fluid" alt="logo">
            </div>
          </div>
          
        </div>
      </div>
    </header>

    
<<<<<<< HEAD
    <footer>
      <div class="container">
        <p>&copy; Your Website 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
=======
>>>>>>> 5f7f81eae33195d4778ef07e1495939c86a7cfba

    

  </body>

</html>
