 <!--result_program, portability 값 넘기기-->

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <form action="/home/storage" method="get">
                <div class="col-lg-12 question">
                    <h2>무게 vs 성능?</h2>    
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                      <button type="radio" class="btn btn-link" name="portability" value="portable"><img class="icon" src="/img/icons/weight_light.png" height=200px ></button>
                      <br><h3>무게가 중요해!<br>~1.5kg</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                      <button type="radio" class="btn btn-link" name="portability" value="HQportable"><img class="icon" src="/img/icons/weight_medium.png" height=200px ></button>
                      <br><h3>둘 다 중요해!<br>~2.3kg</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                      <button type="radio" class="btn btn-link" name="portability" value="HQonly"><img class="icon" src="/img/icons/weight_high.png" height=200px ></button>
                      <br><h3>성능이 중요해!<br>2.3kg~</h3>
                    </div>
                </div>
                <input type="hidden" name="result_program" value="<%= @result_program %>">
            </form>
        </div>
    </div>
</header>
