<style>
    body{
        background-color:gray;
    }
</style>
<body>
    <h1>어떤 용도로 노트북을 사용하니?</h1>
    <a href="/home/game" class="btn btn-outline btn-xl js-scroll-trigger">게임</a>
    <a href="/home/graphic" class="btn btn-outline btn-xl js-scroll-trigger">그래픽</a>
    <a href="/home/develop" class="btn btn-outline btn-xl js-scroll-trigger">개발</a>
    <a href="/home/word" class="btn btn-outline btn-xl js-scroll-trigger">워드/문서작업</a>
    
</body>
