<<<<<<< HEAD
<style>
    body{
        background-color:gray;
    }
</style>
<body>
    <h1>어떤 용도로 노트북을 사용하니?</h1>
    <a href="/home/game" class="btn btn-outline btn-xl js-scroll-trigger">게임</a>
    <a href="/home/graphic" class="btn btn-outline btn-xl js-scroll-trigger">그래픽</a>
    <a href="/home/develop" class="btn btn-outline btn-xl js-scroll-trigger">개발</a>
    <a href="/home/word" class="btn btn-outline btn-xl js-scroll-trigger">워드/문서작업</a>
    
</body>
=======

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <form action="/home/game" method="get">
                <fieldset>
                    <br><br>
                    <h1>Home#program</h1>

                    <h3>어떤 프로그램 써?</h3>
                    <input type="radio" name="program" value="Document">문서작업
                    <input type="radio" name="program" value="Game">게임
                    <input type="radio" name="program" value="Graphic">그래픽작업
                    <input type="radio" name="program" value="Develop">개발자
                    <button type="submit">다음</button>
                </fieldset>
            </form>
        </div>
    </div>
</header>


>>>>>>> 5f7f81eae33195d4778ef07e1495939c86a7cfba
